@import "core";

// Hero block styling
.hero {
  //border-radius: 3rem;
  display: flex;
  min-height: 36vw;
  overflow: hidden;
  margin: 0 auto;
  //width: calc(100% - 2rem);

  @media (max-width: $m) {
    display: initial;
    min-height: auto;
  }
}

.imgContainer,
.heroContent {
  flex: 1;
  position: relative;
  width: 50%;

  @media (max-width: $m) {
    width: 100%;
  }
}

.hero .heroContent {
  p {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 84%;
  }
}

.imgContainer {
  overflow: hidden;

  @media (max-width: $m) {
    height: 240px;
  }

  img {
    object-fit: cover;
  }
}

.heroContent {
  align-items: center;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 2rem;
  text-align: center;

  .heading {
    margin-bottom: 2rem;
    max-width: 400px;
  }
}

// Section block styling
.text,
.section {
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 100%;

  @media (max-width: $m) {
    padding: 4rem 1rem;
  }
}

.text .inner,
.section .inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $l;
  width: 100%;

  @media (max-width: $m) {
    display: initial;
  }

  .col {
    flex: 1;
  }
}

.text .textContainer,
.section .textContainer {
  //margin: 0 3rem;

  p {
    margin-bottom: 1rem;
  }

  .columns {
    column-count: 2;
    column-gap: 4rem;

    @media (max-width: $m) {
      column-count: 1;
    }
  }
}

.withImage {
  max-width: 45%;

  @media (max-width: $m) {
    margin-bottom: 4rem;
    max-width: 100%;
  }
}

.text .imageContainer,
.section .imageContainer {
  max-width: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    margin: 0 auto;
    width: 85%;
  }

  img {
    display: block;
    height: auto;
    //object-fit: cover;
    position: relative;
    pointer-events: none;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: $m) {
  .text .imageOnLeft {
    margin-bottom: 4rem;
  }
}

// Pills block styling
.pills {
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 100%;
}

.pills .inner {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.pills .heading {
  margin-bottom: 2rem;
}

.pillsContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: $m) {
    display: initial;
  }

  .pill {
    margin: 0 1rem;
    overflow: hidden;

    @media (max-width: $m) {
      margin-bottom: 2rem;
    }

    img {
      border-radius: 8rem;
      object-fit: cover;
    }

    .p {
      margin-top: 1rem;
    }
  }
}

// Testimonial block styling
.testimonial {
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: $l;
}

.testimonialContainer {
  margin: 0 auto 1rem;
  max-width: 720px;
  text-align: center;

  .heading {
    margin-bottom: 1rem;
  }

  .name {
    margin-top: 1rem;
  }
}

.light button::before {
  color: var(--color-brown);
}

.dark button::before {
  color: var(--color-light);
}

// Staff Block styling
.staff {
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 100%;
}

.staff .inner {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.staffContainer {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;

  @media (max-width: $m) {
    display: initial;
  }

  .person {
    max-width: 290px;

    @media (max-width: $m) {
      margin: 0 auto 4rem;
    }
  }

  .person img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }

  .person .name {
    font-size: 1em;
    font-weight: 300;
    margin-top: 1rem;
  }
}

// Banner Styling
.banner {
  color: var(--color-light);
  padding-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.bannerText {
  font-size: 30px;
  margin-bottom: 1rem;
}

// General Styling
.topElement {
  padding-top: 2rem;
}

.withMargins {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.lightFont {
  color: var(--color-light)
}

// Map Styling
.map {
  padding: 4rem 0;
  text-align: center;
}

.mapContainer {
  height: $s;
  margin: 0 auto;
  max-width: $l;
}